<div class="mb-3">
    <nav class="navbar navbar-dark mb-4 navbar-expand-sm navbar-light bg-secondary">
        <a class="navbar-brand" href="#">tsalapov1043</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="text-white nav-link" routerLink="/">Информация</a>
            </li>
            <li class="nav-item">
                <a class="text-white nav-link" routerLink="/course/1">Веб-разработка</a>
            </li>
            <li class="nav-item">
                <a class="text-white nav-link" routerLink="/course/2">САПР</a>
            </li>
            <li class="nav-item">
                <a class="text-white nav-link" routerLink="/course/3">Машиностроение</a>
            </li>
            <li class="nav-item">
                <a class="text-white nav-link" routerLink="/course/4">Дизайн интерфейсов</a>
            </li>
        </ul>
    </nav>
    <a class="btn btn-primary" routerLink="/addstudent">Добавить студента</a>
</div>